

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" sizes="32x32">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&family=Roboto:wght@400;700&family=Rubik+Mono+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="{% static 'doodles.css' %}">
  <title>Self Checklist</title>
  <script src="{% static 'main.js' %}"></script>
  <script>
    const CSRF_TOKEN = "{{ csrf_token }}";

    const setLanguage = (lang) => {
      const newURL = new URL(window.location.href);
      newURL.searchParams.set("lang", lang);
      window.location.assign(newURL.href);
    };
  </script>
  {% block head_extensions %}
  {% endblock %}
</head>
<body onload="main()">
  <div class="main-wrapper">
    <main class="{% if lang == 'en' %}english{%endif%}">
      {% block content %}
      {% endblock %}
    </main>
  </div>

  <div class="doodles">
    {% for i in 50|times %}
      <div class="sqr s{{ i }}"></div>
    {% endfor %}
  </div>
</body>
</html>
